@font-face {
  font-family: 'iconfont';  /* Project id 3573977 */
  src: url('//at.alicdn.com/t/c/font_3573977_9zcqjexwlgq.woff2?t=1660203033976') format('woff2'),
       url('//at.alicdn.com/t/c/font_3573977_9zcqjexwlgq.woff?t=1660203033976') format('woff'),
       url('//at.alicdn.com/t/c/font_3573977_9zcqjexwlgq.ttf?t=1660203033976') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }